.block{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}
.block > div{
    width: 300px;
    padding:5px;
    margin: 5px;
    background-color: azure;
}
.block > div > p{
    margin: 0;
}
input[type="range"]{
    width: 100%;
}